	body{
		font-family: open sans;
		margin: 0;
	}

	#fundo{
		background-image: url(./Background/pag_medio_integrado.png);
		width: 110vw;
		height: 110vh;
		background-size: cover;
		background-attachment: fixed;
	}