body{
		font-family: arial;
		margin: 0;
		background-image: url(./Background/pag_fund_desk.png);
		width: 100%;
		height: 200%;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;

	}

	#titulo{
      color:#fff;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 50px;
      font-size: 28px;
	 
	}

	#brain{
		width: 400px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 24px;
		color: white;
		margin-bottom: 20px;

	}

	#brain img{
		margin-bottom: 5px;
		width: 400px;
	}

	h1{
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.logo img{
		width: 20%;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	#ensino_fundamental{
		display: inline-block;
		width: 450px;
		padding: 10px;
		margin-top: 50px;
		font-size: 25px;
	}

	#ensino_medio{
		display: inline-block;
		width: 450px;
		margin-top: 50px;
		padding: 10px;
		font-size: 25px;
	}

	#engenharias{
		display: inline-block;
		width: 450px;
		margin-top: 50px;
		padding: 10px;
		font-size: 25px;
	}

	#informatica{
		display: inline-block;
		width: 450px;
		margin-top: 50px;
		padding: 10px;
		font-size: 25px;
	}

	#meio_ambiente{
		display: inline-block;
		width: 450px;
		margin-top: 50px;
		padding: 10px;
		font-size: 25px;
	}

	img{
		width: 250px;
	}

	a{
		text-decoration: none;
		color: white;
	}

	a:hover{
		color: lightgreen;
	}

	img.parceiros{
		opacity: 1;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		bottom: 0;
	}

	#button{
		width: 200px;
		height: 60px;
		background: #03A03E;
		border-radius: 100px;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		text-align: center;
		color: #FFFFFF;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-top: 20px;
		margin-top: 10px;
	}

	@media only screen and (max-device-width: 414px) {
		body{
			height: 177%;
		}

		#titulo{
	      color:#fff;
	      text-align: center;
	      position: absolute;
	      width: 100vw;
	      height: 100px;
	      font-size: 36px;
		}

		#ensino_fundamental{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#ensino_medio{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			margin-top: 50px;
			padding: 10px;
		}

		#engenharias{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#informatica{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#meio_ambiente{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		.logo img{
			width: 90%;
			height: auto;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			margin-left: auto;
			margin-right: auto;
			display: block;
		}		

		#button{
			width: 200px;
			height: 60px;
			background: #03A03E;
			border-radius: 100px;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			text-align: center;
			color: #FFFFFF;
			padding-top: 20px;
		}

		img.parceiros{
			opacity: 1;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 900px;
			margin-bottom: 50px;
			margin-top: 50px;
		}	
	}

	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		body{
			height: 225%;
		}


		#titulo{
	      color:#fff;
	      text-align: center;
	      position: absolute;
	      width: 100vw;
	      height: 100px;
	      font-size: 25px;
		}

		.logo img{
			width: 50%;
			height: auto;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
			margin-left: auto;
			margin-right: auto;
			display: block;
		}		

		#button{
			width: 200px;
			height: 60px;
			background: #03A03E;
			border-radius: 100px;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			text-align: center;
			color: #FFFFFF;
			margin-left: auto;
			margin-right: auto;
			display: block;
			padding-top: 10px;
		}

		img.parceiros{
			opacity: 1;
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 900px;
			margin-bottom: 20px;
			margin-top: 20px;
		}

		#ensino_fundamental{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
			height: auto;
			padding: 10px;
			margin-top: 50px;
			align-items: center;
		}

		#ensino_medio{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
			margin-top: 50px;
			padding: 10px;
		}

		#engenharias{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#informatica{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#meio_ambiente{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 450px;
			padding: 10px;
			margin-top: 50px;
		}

		#ensino_fundamental img{
			width: 300px;
		}

		#ensino_medio img{
			width: 300px;
		}
	}

/*	body{
		font-family: arial;
		margin: 0;
		background-image: url(./Background/pag_medio_integrado.png);
		width: 100%;
		height: 110%;
		background-size: cover;
		background-attachment: fixed;
	}

	#titulo{
      color:#fff;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 110%;
      font-size: 36px;
	}

	a{
		text-decoration: none;
		color: white;
	}

	a:hover{
		color: lightblue;
	}

	.button{
		float: left;
		position: absolute;
		width: 200px;
		height: 90px;
		background: #03A03E;
		border-radius: 50px;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 90px;
		text-align: center;
		color: #FFFFFF;
		margin-top: 20px;
		margin-left: 20px;
	}

	#categoria{
		width: 100%;
		height: 30%;
		font-size: 30px;
		text-align: right;
		font-weight: bold;
	}

	h1{
		margin-bottom: 5px ;
	}

	#categoria img{
		margin-right: 15px;
	}

	.matematica img{
		height: 200px;
	}

	.humanas img{
		width: 200px;
	}

	.engenharias img{
		height: 200px;
	}

	.informatica img{
		height: 200px;
	}

	.meio_ambiente img{
		height: 200px;
	}

	.matematica{
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		float: left;
		display: inline-block;
		width: 200px;
		font-size: 28px;
	}

	.humanas{
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		display: inline-block;
		float: left;
		width: 200px;
		font-size: 24px;
		text-align: center;
	}

	.engenharias{
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		float: left;
		display: inline-block;
		width: 200px;
		font-size: 28px;
	}

	.informatica{
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		float: left;
		display: inline-block;
		width: 200px;
		font-size: 28px;
	}

	.meio_ambiente{
		margin-top: 5%;
		margin-left: 3%;
		margin-right: 3%;
		float: left;
		display: inline-block;
		width: 200px;
		font-size: 28px;
	}

	@media only screen and (max-device-width: 900px) {
		#titulo{
	      color:#fff;
	      text-align: center;
	      position: absolute;
	      width: 115%;
	      height: 100%;
	      font-size: 36px;
		}

		#categoria img{
			width: 350px;
		}

		.matematica{
			font-size: 48px;
			width: 1000px;
		}

		.matematica img{
			padding-left: 10%;
			height: 500px;
		}

		.humanas{
			font-size: 48px;
			width: 1000px;
		}

		.humanas img{
			width: 500px;
		}

		.engenharias{
			font-size: 48px;
			width: 1000px;
		}

		.engenharias img{
			height: 500px;
		}

		.informatica{
			font-size: 48px;
			width: 1000px;
		}
		.informatica img{
			height: 500px;
		}

		.meio_ambiente{
			font-size: 48px;
			width: 1000px;
		}

		.meio_ambiente img{
			height: 500px;
		}
*/