	body{
		font-family: open sans;
		margin: 0;

	}

	#fundo{
		background-image: url(./Background/nivel_de_ensino.png);
		width: 100vw;
		height: 100vh;
		background-size: cover;
		background-attachment: fixed;
	}

	#titulo{
		
      background: linear-gradient(180deg, rgba(255, 92, 0, 0.73) 0%, rgba(255, 92, 0, 0) 51.04%);
      color:#fff;
      text-align: center;
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: 36px;
	
	}

	h1{
		margin: 0px;
	}

	#ensino_fundamental{
		display: inline-block;
		width: 25%;
		margin-left: 0px;
	}

	/*#yellow_brain{
		padding: 5px;
		width: 25%;
	}*/

	#ensino_medio{
		display: inline-block;
		width: 250px;
	}

	#blue_brain{
		padding: 5px;
		width: 25%;
	}

	#ensino_integrado{
		display: inline-block;
		width: 25%;
		padding: 10px;
	}

	#ensino_superior{
		display: inline-block;
		width: 25%;
		padding: 10px;
	}

	img{
		width: 275px;
	}